:root {
  --primary-color: #1677ff;
  --transparent-gray-0: rgba(0, 0, 0, 0);
  --transparent-gray-50: rgba(0, 0, 0, 0.02);
  --transparent-gray-100: rgba(0, 0, 0, 0.06);
  --transparent-gray-200: rgba(0, 0, 0, 0.08);
  --transparent-gray-300: rgba(0, 0, 0, 0.1);
  --transparent-gray-400: rgba(0, 0, 0, 0.12);
  --transparent-gray-500: rgba(0, 0, 0, 0.16);
  --transparent-gray-600: rgba(0, 0, 0, 0.22);
  --transparent-gray-700: rgba(0, 0, 0, 0.36);
  --transparent-gray-800: rgba(0, 0, 0, 0.58);
  --transparent-gray-900: rgba(0, 0, 0, 0.88);
  --transparent-gray-1000: rgb(0, 0, 0);
  --gray-0: #ffffff;
  --gray-50: #fafafa;
  --gray-100: #f2f2f2;
  --gray-200: #ebebeb;
  --gray-300: #e6e6e6;
  --gray-400: #e0e0e0;
  --gray-500: #d6d6d6;
  --gray-600: #c7c7c7;
  --gray-700: #a3a3a3;
  --gray-800: #6b6b6b;
  --gray-900: #1f1f1f;
  --gray-1000: #000000;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  font-size: 0px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--primary-color);
  flex: none;
}

.logo_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

.main {
  width: 100%;
  max-width: 100vw;
  flex: 1;
  height: calc(100vh - 48px);
  background-color: white;
  display: flex;
  align-items: stretch;
}

.left {
  padding: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  flex: 1;
  position: relative;
}

.left_inner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 8px 8px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjgiIGhlaWdodD0iOCIgZmlsbD0iI0YxRjFGMSIgc3R5bGU9ImZpbGw6I0YxRjFGMTtmaWxsOmNvbG9yKGRpc3BsYXktcDMgMC45NDUxIDAuOTQ1MSAwLjk0NTEpO2ZpbGwtb3BhY2l0eToxOyIvPgo8cmVjdCB4PSI4IiB5PSI4IiB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjRjFGMUYxIiBzdHlsZT0iZmlsbDojRjFGMUYxO2ZpbGw6Y29sb3IoZGlzcGxheS1wMyAwLjk0NTEgMC45NDUxIDAuOTQ1MSk7ZmlsbC1vcGFjaXR5OjE7Ii8+CjxyZWN0IHg9IjgiIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIGZpbGw9IndoaXRlIiBzdHlsZT0iZmlsbDp3aGl0ZTtmaWxsOndoaXRlO2ZpbGwtb3BhY2l0eToxOyIvPgo8cmVjdCB5PSI4IiB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSJ3aGl0ZSIgc3R5bGU9ImZpbGw6d2hpdGU7ZmlsbDp3aGl0ZTtmaWxsLW9wYWNpdHk6MTsiLz4KPC9zdmc+Cg==");
}

.left_inner_active {
  background-color: #ebebeb;
  background-image: none;
}

.images {
  flex: none;
  padding: 16px;
  background: #fafafa;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid var(--30010, rgba(0, 0, 0, 0.1));
}

.images_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #fafafa;
}

.images_item {
  position: relative;
  margin-bottom: 12px;
  width: 160px;
  cursor: pointer;
}

.image_select {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.images_item_inner {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04),
    0px 0px 0px 1px rgba(0, 0, 0, 0.06);
}

.images_item_active .images_item_inner {
  box-shadow: 0 0 0 3px var(--primary-color);
}

.image_num {
  font-size: 14px;
  /* font-weight: bold; */
  line-height: 24px;
  color: #a3a3a3;
  text-align: center;
}

.images_item_active .image_num {
  font-weight: bold;
  color: #000;
}

.watermark_unit {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: -1;
  background-color: white;
}

.watermark_item {
  font-size: 16px;
  text-align: center;
}

.watermark_item_inner {
  transform: rotate(-18deg);
  font-size: 12px;
  line-height: 22px;
  color: rgba(80, 80, 80, 0.16);
  font-weight: 500;
  white-space: nowrap;
}

.left_main {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-width: calc(100vw - 32px - 280px);
}

.left_main_images .left_main {
  max-width: calc(100vw - 32px - 193px - 280px);
}

.selection_outer {
  position: relative;
}

.selection {
  position: relative;
}

.watermark_cover_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.watermark_cover_image img {
  width: 100%;
  height: auto;
}

.watermark_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.controls {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 68px;
  justify-content: center;
  z-index: 200;
  bottom: 0;
  left: 0;
  background-color: white;
  border-top: 1px solid var(--30010, rgba(0, 0, 0, 0.1));
}

.controls .adui-button-leftIcon {
  transform: rotate(90deg);
}

.hidden_button {
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 300;
}

.scale_buttons {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 300;
}

.right {
  width: 320px;
  padding: 16px;
  flex: none;
  display: flex;
  flex-direction: column;
}

.right_main {
  flex: 1;
  overflow-y: auto;
}

.right_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  color: var(--transparent-gray-900);
  margin-bottom: 16px;
}

.right_title_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right_section {
  margin-bottom: 18px;
}

.right_section_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: var(--transparent-gray-800);
  font-weight: 700;
  margin-bottom: 12px;
}

/* .right_section_body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.text_body {
  max-height: 88px;
  overflow-y: auto;
}

.text_item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.text_item:last-child {
  margin-bottom: 0px;
}

.watermark_number {
  margin-left: 8px;
  color: var(--transparent-gray-700);
  font-weight: normal;
}

.rule_item {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: var(--transparent-gray-800);
  margin-bottom: 12px;
}

.rule_item:last-child {
  margin-bottom: 0;
}

.rule_label {
  margin-right: 18px;
  flex: none;
}

.rule_body {
  display: flex;
  align-items: center;
}

.rule_size {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.rule_size:last-child {
  margin-right: 8px;
}

.rule_size_label {
  margin-right: 4px;
  size: 12px;
  flex: none;
}

.upload_button {
  position: relative;
}

.upload_button_empty {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 14px;
  color: var(--transparent-gray-700);
}

.divider {
  flex: none;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 16px;
  margin-bottom: 16px;
}

.right_bottom {
  flex: none;
  /* padding: 0 16px; */
}

.button {
  position: relative;
}

.button_input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.file_name_button {
  flex: none;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--transparent-gray-300);
  border-radius: 5px;
}

.file_name {
  font-size: 14px;
  line-height: 24px;
  color: var(--transparent-gray-900);
  white-space: nowrap;
  min-width: 0;
}

.file_name_operator {
  display: flex;
  align-items: center;
}

.customize_size {
  margin-top: 12px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  color: var(--transparent-gray-900);
}

.empty {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
  color: var(--transparent-gray-700);
}

.watermark_unit_preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px var(--transparent-gray-100);
}

.export_button {
  padding: 0 16px;
}

.tip {
  font-size: 12px;
  line-height: 18px;
  margin-top: 4px;
  color: var(--transparent-gray-700);
}
